#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  width: 600px;
  height: 600px;
  background-color: blue;
}

.modal {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.modal.hidden {
  display: none;
}

.modal > .modal-body {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 300px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 600px;
  background-color: rgba(127, 127, 127, 0.8);
}

.modal > .modal-body > img {
  height: 80px;
  padding: 16px;
  border-radius: 50%;
}

.modal > .modal-body > img:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.modal > .modal-body > .checkmate-body {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal > .modal-body > .checkmate-body > span {
  font-size: 24px;
}

.modal > .modal-body > .checkmate-body > button {
  background-color: #779556;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  font-size: 24px;
  color: white;
}

.modal > .modal-body > .checkmate-body > button:hover {
  cursor: pointer;
}
